body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#excalibur-play {
    background: rgb(107, 69, 98) !important;
}

.Startbutton {
    /* ... existing styles ... */

    /* Add the following styles for the transition */
    transition: transform 0.2s ease;
}

.Startbutton:hover {
    /* Add the scaling effect when hovering */
    transform: scale(1.1);
}